*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home {
    background-image: url("img/consultorio.png");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    color: white;
}
#seja{
    color: #40E0d0;
    text-shadow: 1px 1px 1px #47ddddd5;
    font-family: Helvetica;
}
#pet {
    color: #ffff;
    font-family: Helvetica;
    text-shadow: 1px 1px 1px #0000;
}
body{
    background-color: #40E0d0;
    color: white;
    
}
#nav-principal {
    color: #40E0d0 ;
}
.caixa {
    padding: 60px 0;
    border: 1px solid #e5e5e5;  
}
