@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@600&display=swap');

.fundocaf{
    background-image: url('https://i.pinimg.com/originals/bf/03/b4/bf03b40a598eca526e4d1506d90b121a.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw;
}
.container{
    height: 80vh;
    width: 90vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    overflow: hidden;
}
.textcaf{
    background-color: #EEAD2D;
    height: 67vh;
    padding: 1vw;
    overflow: hidden;
    border-radius: 2vh;
}
.caixatitulo{
    height: 6vh;
    overflow: hidden;
    margin-bottom: 2vh;
    margin-top:2vh;
}
.titulo{
    flex-direction: row;
    text-align: center;
    font-size: 5vh;
    font-family: 'Montserrat', sans-serif;
}
.caixatextob{
    overflow: hidden;
    height: 48vh;
    display: flex;
}
.texto{
    font-size: 4vh;
    font-family: 'Open Sans', sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;
}
.dilemacaf{
    overflow: hidden;
    height: 5vh;
    display: flex;
}
.dilemacaf p{
    font-size: 2.5vh;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;
}

/*.texta p, .botoesa p{
    color: #FFFFFF;
}*/
/*botoes*/
.botoesa{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 13vh;
    overflow: hidden;
}
.button1{
    width: 24vw;
    height:8vh;
    overflow: hidden;

}
.button2{
    width: 24vw;
    height:8vh;
    overflow: hidden;

}
.btn1caf{
    flex-direction: row;
    background-color: #EEAD2D;
    height:8vh;
    width: 24vw;
    border-radius: 5vw;
    border: 0;
    overflow: hidden;
}
.btn1caf p {
    color: black;
}
.btn2caf{
    border: 0;
    border-radius: 5vw;
    flex-direction: row;
    width: 24vw;
    height:8vh;
    background-color: #EEAD2D;
    overflow: hidden;
}
.btn2caf p {
    color: black;
    font-size: medium;
}
.textbtn{
    text-align: center;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;

}
button, a{
    cursor: pointer;
    overflow: hidden;
}